.navbar-custom {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.h-full {
    height: 100vh;
}

.bg-header {
    background-image: url(images/bg-wang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}